.results_container {
  display: flex;
  background: #fff;
  width: 100%;
  padding: 20px;
  max-width: 1650px;
}


.results_content {
  display: flex;
  margin: 80px 0 80px 0;
  width: 100%;
  flex-direction: column;
}

.section_findings {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}
.section_header {
  margin-bottom: 32px;
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.section_header_txt {
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
  flex-direction: column;
  gap: 16px;
}

.section_header_top {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1920px;
  justify-content: space-around;
  align-items: center;
}

.section_header h2 {
  align-self: stretch;
  color: #1d2939;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -0.96px;
  width: 100%;
}

.section_header p {
  max-width: 588px;
  width: 100%;
  color: #667085;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.join_channel_btn {
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  border: 1px solid #1570ef;
  background: #1570ef;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  max-width: 168px;
  width: 100%;
  position: relative;
  top: 85px;
}

.join_channel_btn:hover {
  border: 1px solid #2e90fa;
  background: #2e90fa;
}
.join_channel_btn:focus {
  box-shadow: 0px 0px 0px 4px #d1e9ff, 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.results_cards{
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.latest_findings{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.latest_findings_content{
  overflow-x: auto; 
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.latest_findings_content::-webkit-scrollbar {
  display: none;
}
.center_container {
  display: flex;
  justify-content: center;
  width: 100%;
}


.latest_findings h3 {
  margin: 40px 0 16px 0;
  color: #98a2b3;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  align-self: flex-start;
  position: relative;
}
.latest_finding_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_grid {
  display: flex;
  width: 100%;
  gap: 16px;
}
.content_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.result_card {
  display: flex;
  flex-direction: column;
  min-width: 384px;
  border-radius: 12px;
  border: 1px solid #eaecf0;
  background: #f9fafb;
  color: #1d2939;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}

.card_row {
  display: flex;
  min-width: 250.75px;
  padding: 14px 16px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-bottom: 1px solid #eaecf0;
}

.card_left,
.card_right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.card_right {
  padding-left: 16px;
  color: #98A2B3;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.card_amount{
  color: #1570EF;
}


  /* Laptop view */
  @media screen and (min-width: 1440px) and (max-width: 1919px) {

  }
  
  /* Tablet view */
  @media screen and (min-width: 768px) and (max-width: 1439px) {

  }
  
  /* Landscape phone view */
  @media screen and (min-width: 540px) and (max-width: 767px) {
    .section_header_top {
      flex-direction: column;
      justify-content: flex-start;
    }
    .join_channel_btn {
      align-self: flex-start;
      top: 32px;
    }
  }
  
  /* Portrait phone view */
  @media screen and (max-width: 539px) {
    .section_header_top {
      flex-direction: column;
      justify-content: flex-start;
    }

    .join_channel_btn {
      align-self: flex-start;
      top: 32px;
    }

    .section_header_txt h2 {
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: 38px;
    }

    .results_content {
      margin: 60px 0 60px 0;
    }
    

  }
  