/* Import Tailwind CSS */
@import "./styles/tailwind.css";


/* App.css or styles/tailwind.css */
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/* Desktop view */
@media screen and (min-width: 1920px) {

}

/* Laptop view */
@media screen and (min-width: 1440px) and (max-width: 1919px) {

}

/* Tablet view */
@media screen and (min-width: 768px) and (max-width: 1439px) {

}

/* Landscape phone view */
@media screen and (min-width: 540px) and (max-width: 767px) {

}

/* Portrait phone view */
@media screen and (max-width: 539px) {

}