/* index.css */
body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .app-container {
    max-width: 100%;
    width: 100%;
  }